<div class='box box-form'>
  <div class='container'>
    <div class='col-md-4 col-md-offset-4'>
      <div class='box-header'>
        <h1 align='center'>LOGIN FORM</h1>
        <br>
      </div>
      <div class='box-content'>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='form-group'>
            <label>Email or Username</label>
            <%= f.text_field :login, class: "form-control", required: true %>
          </div>
          <div class='form-group'>
            <label>Password</label>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class='button'>
            <%= f.submit "SignIn", class: "btn btn-login btn-login-submit btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
