@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/_all-skins";
@import "jquery_ui";

/*===============================
QR Barcode
===============================*/
.panel-container{
  .header{
    background: #00577c;
    color: white;
    float: left;
    width: 100%;
    padding: 15px;
    .brand{
      font-size: 20px;
      font-weight: bold;
    }
    .date{
      float: right;
      font-size: 18px;
    }
  }
}
#v{
  width:100%;
  height:100%;
}
#qr-canvas{
  display:none;
}
#qrfile{
  width:100%;
}
#mp1{
  text-align:center;
  font-size:12px;
}
#imghelp{
  position:relative;
  left:0px;
  top:-160px;
  z-index:100;
  color: #ccc;
  /*font:18px arial,sans-serif;
  background:#f0f0f0;
  margin-left:35px;
  margin-right:35px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:20px;*/
}
.selector{
  margin:0;
  padding:0;
  cursor:pointer;
  margin-bottom:-5px;
}

.bg-phone {
  background-size: 100%;
  width: 100%;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 90px;
}
.icon-qcode {
  i {
    font-size: 30px;
    margin-right: 10px;
    color: #ccc;
  }
}
.info-code-vouchers-q{
  margin-top: 10px;
}
.scan-barcode{
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
  background: black;
  border-radius: 5px;
  #outdiv{
    width:100%;
    height:300px;
    border-width: 3px 3px 3px 3px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #result {
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding: 8px;
    width: 70%;
    border-radius: 5px;
    background: white;
    box-shadow: none;
    float: left;
  }
  .btn-check-barcode{
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 50px;
  }

  #identify{
    color: green;
    padding-right: 10px;
  }
}


/*=======================================
  Alert Custom
=======================================*/
.section-alert{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 120px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding-top: 120px;
  .alert{
    width: 600px;
    z-index: 99;
    margin: auto;
    text-align: center;
  }
}
.alert{
  margin-top: 10px;
}


/*=======================================
  Card Custom
=======================================*/
.card-student{
  background: white;
  color: #222;
  width: 100%;
  border-radius: 5px;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  .form-group{
    text-align: left;
    position: relative;
    h4{
      font-weight: normal;
      font-size: 13px;
      color: #666;
    }
    .overlay{
      position: absolute;
      background: black;
    }
  }
  .header{
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    background: #367fa9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: white;
  }
  .avatar{
    margin: auto;
    display: table;
    width: 120px;
    border-radius: 50%;
  }
  small{
    color: #666;
  }
}

.student-success{
  color: green;
  width: 100%;
  float: left;
  text-align: center;
  font-size: 16px;
}

.pagination > li.gap{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.avatar-form{
  .img-circle{
    width: 200px;
    height: 200px;
  }
}

.display-center {
  width: auto;
  margin: auto;
  display: table;
}

.today-datas{
  list-style-type: none;
  padding: 0px;
  li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    background: #f8f8f8;
    text-shadow: 0px 1px #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 3px #fff;
    max-width: 100%;
    text-align: center;
  }
}

.select-birthday{
  width: 33.3%;
  float: left;
}

.btn-multiple-act{
  .btn{
    margin-right: 5px;
  }
}

.card-student{
  background: white;
  color: #222;
  width: 100%;
  border-radius: 5px;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
  padding-bottom: 20px;
  .form-group{
    text-align: left;
  }
  .header{
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
    background: #367fa9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: white;
  }
  .avatar{
    margin: auto;
    display: table;
    width: 120px;
    border-radius: 50%;
  }
}

.pagination > li.gap{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}


