@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/_all-skins";

.avatar-form{
  .img-circle{
    width: 200px;
    height: 200px;
  }
}

.display-center {
  width: auto;
  margin: auto;
  display: table;
}

.today-datas{
  list-style-type: none;
  padding: 0px;
  li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    background: #f8f8f8;
    text-shadow: 0px 1px #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 3px #fff;
    max-width: 100%;
    text-align: center;
  }
}

.select-birthday{
  width: 33.3%;
  float: left;
}

.btn-multiple-act{
  .btn{
    margin-right: 5px;
  }
}

.card-student{
  background: white;
  color: #222;
  width: 100%;
  border-radius: 5px;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
  padding-bottom: 20px;
  .form-group{
    text-align: left;
  }
  .header{
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
    background: #367fa9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: white;
  }
  .avatar{
    margin: auto;
    display: table;
    width: 120px;
    border-radius: 50%;
  }
}

.pagination > li.gap{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}


