.panel
  .panel-body
    .content-header
      .row
        .col-md-6
          #main.scan-barcode
            #mainbody.icon-qcode
              .col-xs-6
                %span#webcamimg.selector{:align => "left", :onclick => "setwebcam()"}
                  %i.glyphicon.glyphicon-qrcode
                %span#qrimg.selector{:align => "right", :onclick => "setimg()"}
                  %i.glyphicon.glyphicon-camera
              .col-xs-12
                #outdiv
                %center
                  = form_for :search, url: root_path(params), method: 'get', html:{class: 'form-inline'} do |f|
                    .form-group{style: 'width:100%;'}
                      = hidden_field_tag :code, nil, id: 'result', placeholder: 'Nis', class: 'form-control code-vouchers-q'
                      %span#identify
                      = submit_tag 'HADIR', class: 'btn btn-success' 
              
        .col-md-6
          .results-student
            = render 'results'
%canvas#qr-canvas{:height => "600", :width => "800"}
:javascript
  load();