<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body class="<%= controller_name %> <%= action_name%>">
    <%= yield %>
  </body>
</html>